.Container {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  @media (min-width: 768px) {
    margin-left: -32px;
    margin-right: -32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.Background {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(#121212)
  );
  background: linear-gradient(transparent, #121212);
  position: absolute;
  top: 0;
  height: 200px;
  width: 100%;
  margin-left: -32px;
  margin-right: -32px;
  z-index: 0;
  opacity: 0.4;
}
