.Audio{
  text-align: left;
  margin: 5px;
  display: flex;
  align-items: center;
  max-width: 1955px;
  overflow: hidden;
}

.Artist{
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}
