$videoWidth: 1100px;

@mixin blur ($radius) {
	filter: blur($radius+px);
    -webkit-filter: blur($radius+px);
    -moz-filter: blur($radius+px);
    -o-filter: blur($radius+px);
    -ms-filter: blur($radius+px);
	// filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
	filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
}

.player {
  //width: 600px;
  //height: 337px;
  //position: absolute;
  //margin: auto;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  video {
    outline: none;
    max-width: $videoWidth;
    max-height: 100%;
    //height: calc(#{$videoWidth} / 1.77);
    z-index: 1;
    overflow: hidden;
    //box-shadow: 0 0 10px #000;
    border-radius: 5px;
    //border: 4px solid #091921;
    //box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
    //            inset 0 -15px 15px rgba(255,255,255,0.05),
    //            0 15px 15px rgba(0,0,0,0.3),
    //            inset 0 15px 15px rgba(0,0,0,0.3);

    //background-color: rgba(0, 0, 0, 0.71);
    //border: 4px solid rgba(0, 0, 0, 0.71);
    //box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  }
  canvas {
    background-color: black;
    position: absolute;
    max-width: calc(#{$videoWidth} + 200px);
    height: calc((#{$videoWidth} + 200px) / 1.77);
    //height: 100%;
    //transform: scale(1.2);
    //opacity: 0.75;
    z-index: 0;

	@include blur(100)

    // margin: -5px -10px -10px -5px;
  }
}
