.MuiBottomNavigationAction-root.Mui-selected{
  color: white !important;
}

.MuiBottomNavigation-root{
  height: 45px !important;
  button{
    padding: 0 !important;
  }
  .MuiBottomNavigationAction-label{
    font-size: 0.675rem !important;
  }
}
