.MuiBottomNavigationAction-root.Mui-selected {
  color: white !important;
}

.MuiBottomNavigation-root {
  height: 45px !important;
}
.MuiBottomNavigation-root button {
  padding: 0 !important;
}
.MuiBottomNavigation-root .MuiBottomNavigationAction-label {
  font-size: 0.675rem !important;
}

/*# sourceMappingURL=BottomMenu.css.map */
