.MenuLogo{
  display: flex;
  align-items: center;
  padding: 8px 0 8px 15px;
  overflow: hidden;
}

.Brand{
  height: 50px;
  max-height: 50px;
  width: auto;
  overflow: hidden;
  flex-wrap: nowrap;
  a{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}
