.ImageWrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;

  cursor: pointer;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,0.4), 0px 3px 4px 0px rgba(0,0,0,0.3), 0px 1px 8px 0px rgba(0,0,0,0.3);

  &:hover > .PlayButton {
    visibility: visible;
  }

  //&:hover > .AbsoluteInfo {
  //  -webkit-filter: brightness(0.7);
  //  filter: brightness(0.7);
  //}
  &:hover > .Image {
    -webkit-filter: brightness(0.2);
    filter: brightness(0.2);
  }
}

.ImageWrapperActive {
  & > .PlayButton {
    visibility: visible !important;
  }
}
.Image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
  0 1px 14px 0 rgba(0, 0, 0, 0.12);
}

.ImageActive {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}

.PlayButton {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 1;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;

  width: 50%;
  height: 50%;

  margin: -25% 0 0 -25%;
  transition: all 0.1s ease-in-out;
  &:hover + .Image {
    -webkit-filter: brightness(0.2);
    filter: brightness(0.2);
  }
  &:hover {
    transform: scale(1.2);
  }
}

.PlayButtonActive{
  border: 1px solid rgba(243, 77, 79,0.7);
  //transform: scale(1.5);
  //animation: sizeAnimation 4s infinite;
  //animation-timing-function: ease-in-out;
}

.AbsoluteInfo{
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}
.AbsoluteInfoActive{
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
.HelpInfo{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: row-reverse;
}
.ArtistInfo{
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}
.TimeInfo{
  justify-self: flex-end;
}
.Info{
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  width: 100%;
  font-size: 15px;
}

@keyframes sizeAnimation {
  50% {transform: scale(1.5); background-color: #000}
}
