.Menu {
  position: relative !important;
  background: transparent !important;
  border-right: 0 !important;
  overflow-x: hidden;
  padding: 0 8px;

  .ListEl {
    border-radius: 4px !important;
    height: 40px !important;
    padding: 0 0 0 16px !important;
    text-overflow: ellipsis;
    overflow: hidden;

    color: #b3b3b3;

    &:hover {
      color: white;
    }

    .Text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      align-items: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: normal;
      text-transform: none;
    }
    .Icon {
      color: #b3b3b3;
      min-width: 40px !important;
      width: 40px !important;
    }

    .IconSelected {
      color: white;
      min-width: 40px !important;
      width: 40px !important;
    }
  }

  .ListElSelected {
    color: white;
    border-radius: 4px !important;
    height: 40px !important;
    padding: 0 16px !important;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .SubHeader {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
}
